{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div style="margin-top: 100px"></div>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Full name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Active</th>
            <th scope="col"><i class="fa fa-list" aria-hidden="true"></i></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.fullName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{% if user.isActive == true %}<span class="text-success">✔</span>{% else %}<span class="text-danger">✘</span>{% endif %}</td>
                <td><a href="{{ path('auth.user.get', {id: user.id}) }}"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
{% endblock %}